NEXT_PUBLIC_SITE_URL=https://gedachtengoedpsychotherapie.nl
RESEND_API_KEY=
CONTACT_FROM_EMAIL=
NEXT_PUBLIC_INTRAMED_DEBITEURNUMMER=
NEXT_PUBLIC_INTRAMED_ADM_NUMBER=
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_BING_SITE_VERIFICATION=
